<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.configaware.med365doctors" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".HospitalData"
            android:icon="@mipmap/report"
            android:label="@string/title_activity_hospital_data" >
        </activity>
        <activity
            android:name=".Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutUs"
            android:label="@string/aboutUs" >
        </activity>
        <activity
            android:name=".Tracking"
            android:icon="@mipmap/trackmr"
            android:label="@string/title_activity_tracking" >
        </activity>
        <activity
            android:name=".Dashboard"
            android:icon="@mipmap/menu"
            android:label="@string/title_activity_dashboard" >
        </activity>
        <activity
            android:name=".NavDrawer"
            android:label="@string/title_activity_nav_drawer" >
        </activity>
        <activity
            android:name=".SearchDoctors"
            android:label="@string/title_activity_search_doctors" >
        </activity>
        <activity
            android:name=".FindDoctors"
            android:label="@string/title_activity_find_doctors" >
        </activity>
        <activity
            android:name=".GenericMedicines"
            android:label="@string/title_activity_generic_medicines" >
        </activity>
        <activity
            android:name=".SearchResultsActivity"
            android:label="@string/title_activity_search_results" >
        </activity>

        <service
            android:name=".BackgroundLocationService"
            android:enabled="true" />

        <activity
            android:name=".SearchMedicine"
            android:label="@string/title_activity_search_medicine" >
        </activity>
    </application>

</manifest>
